<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Test Selenium"
       parallel="methods"
       thread-count="2">

    <listeners>
        <listener class-name="org.framework.test.SuiteListener"/>
        <listener class-name="org.framework.test.DriverInvocationListener"/>
    </listeners>

    <test name="Testing Practice">

        <classes>
            <class name="SeleniumTests"/>
        </classes>

    </test>

</suite>